@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$purple_color: #7a5cfa;
$grey_color: #cccccc;
$red_color: #eb5757;
$light_grey: #f4f4f4;
$dark_grey: #666666;
$light_purple: #e4defe;
$white: #ffffff;

@mixin small_label {
  font-size: 12px;
  color: $dark_grey;
  font-weight: 600;
}

@mixin justify-center {
  display: flex;
  justify-content: center;
}

@mixin small_msg {
  font-size: 12px;
  font-weight: 400;
}

@mixin big_label {
  font-size: 16px;
  font-weight: 400;
  color: $dark_grey;
  margin-left: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

main {
  background-color: $light_purple;
  height: 100vh;
  @include justify-center;

  form {
    width: 760px;
    padding: 96px 98px 100px;
    background-color: $white;
    @media screen and (max-width: 1200px) {
      width: 1000px;
    }

    div.container {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
      gap: 32px;
      label {
        @include small_label;
      }
      input {
        height: 56px;
        padding-left: 16px;
        border-radius: 8px;
        border: 1px solid $grey_color;

        &:focus {
          outline: 1px solid $purple_color;
        }
        &::placeholder {
          font-size: 16px;
          font-weight: 400;
          color: $dark_grey;
        }
      }
    }

    .username_input,
    .password,
    .text_input {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    span.notify {
      @include small_msg;
      color: $dark_grey;
    }
    span.error_msg {
      @include small_msg;
      color: $red_color;
    }
  }

  .remember {
    @include big_label;
  }
  .turn {
    @include big_label;
  }

  input#remember {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 1px solid $grey_color;
    border-radius: 8px;

    &:checked {
      background-color: $purple_color;
    }
  }
  .parent {
    display: flex;
    align-items: center;
  }
}

div.on_off {
  margin-top: 32px;
  display: flex;
  align-items: center;
  #turn {
    appearance: none;
    width: 49px;
    height: 24px;
    border: 1px solid $grey_color;
    border-radius: 32px;
    position: relative;
    transition: all 100ms linear;
    cursor: pointer;

    &:checked {
      background-color: $purple_color;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      border: 1px solid $grey_color;
      border-radius: 50%;
      top: 1px;
      background-color: $light_grey;
      transition: all 100ms linear;
    }
    &::after {
      right: 1px;
      // background-color: $light_grey;
    }
    &::before {
      left: 1px;
      // background-color: green;
      opacity: 0;
    }

    &:checked::before {
      opacity: 1;
    }
    &:checked::after {
      opacity: 0;
    }
  }
}

.radio {
  display: flex;
  gap: 32px;
  flex-direction: column;
  margin-top: 32px;

  label {
    @include big_label;
  }

  input {
    width: 24px;
    height: 24px;
    appearance: none;
    border: 1px solid $grey_color;
    border-radius: 50%;
    cursor: pointer;
  }
}

select {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  padding: 16px;
  margin-top: 32px;
  border: 1px solid $grey_color;
  color: $dark_grey;
  outline: none;

  &:focus {
    border-color: $purple_color;
  }
}
